---

---

<section
  class="py-[50px] md:py-[100px] w-full flex flex-col md:flex-row justify-center gap-[50px]"
>
  <div class="w-[120px] md:text-end">
    <h4 class="text-base font-medium tracking-widest text-[#007bff]">
      EXPERIENCE
    </h4>
  </div>
  <div class="max-w-[650px] w-full flex flex-col gap-[50px]">
    <div
      class="flex flex-col sm:flex-row gap-[20px] sm:gap-[0] justify-between"
    >
      <span>
        <h5>Bazaar Origin</h5>
        <p class="text-sm font-extralight tracking-wider text-[#444452]">
          Frontend Developer
        </p>
      </span>
      <span>
        <p class="text-sm font-extralight tracking-wider">
          January 2024 - February 2025
        </p>
      </span>
    </div>
    <div
      class="flex flex-col sm:flex-row gap-[20px] sm:gap-[0] justify-between"
    >
      <span>
        <h5>DevSquad Studio</h5>
        <p class="text-sm font-extralight tracking-wider text-[#444452]">
          Junior Frontend Developer
        </p>
      </span>
      <span>
        <p class="text-sm font-extralight tracking-wider">
          September 2023 - January 2024
        </p>
      </span>
    </div>
    <div
      class="flex flex-col sm:flex-row gap-[20px] sm:gap-[0] justify-between"
    >
      <span>
        <h5>Makers Incubator</h5>
        <p class="text-sm font-extralight tracking-wider text-[#444452]">
          Intern
        </p>
      </span>
      <span>
        <p class="text-sm font-extralight tracking-wider">
          March 2023 - July 2023
        </p>
      </span>
    </div>
  </div>
</section>
