---

---

<section class="py-[50px] md:py-[100px] w-full flex flex-col md:flex-row justify-center gap-[50px]">
  <div class="w-[200px] md:text-end">
    <h4 class="text-base font-medium tracking-widest text-[#007bff]">
      FEATURED PROJECTS
    </h4>
  </div>

  <div class="max-w-[725px] w-full flex flex-col gap-[50px]">
    <div class="flex flex-col lg:flex-row gap-[20px]">
      <a
        href="https://bazaarorigin.com"
        target="_blank"
        rel="noopener noreferrer"
        class="lg:w-3/4 w-full rounded-xl overflow-hidden block"
      >
        <img
          src="/images/bazaar.jpeg"
          alt="bazaar image"
          class="w-full h-auto object-cover"
        />
      </a>
      <div class="lg:w-1/4 w-full flex flex-col gap-[10px]">
        <h5>Bazaar</h5>
        <p class="font-light text-sm text-[#444452] tracking-wider">
          Bazaar Origin is an online platform that connects customers with local
          makers and brands. It offers an intuitive interface to explore
          collections, discover brand stories, and purchase products directly
          from their creators — promoting sustainability and local business
          support.
        </p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-[20px]">
      <a
        href="https://sakta.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="lg:w-3/4 w-full rounded-xl overflow-hidden block"
      >
        <img
          src="/images/sakta.jpeg"
          alt="sakta image"
          class="w-full h-auto object-cover"
        />
      </a>
      <div class="lg:w-1/4 w-full flex flex-col gap-[10px]">
        <h5>Sakta</h5>
        <p class="font-light text-sm text-[#444452] tracking-wider">
          Sakta is a visual inspiration platform similar to Pinterest, focused
          on conscious and independent brands. Users can browse a curated feed
          of products, discover meaningful creators, and find inspiration
          through thoughtful design and storytelling.
        </p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-[20px]">
      <a
        href="https://www.danek.kg/"
        target="_blank"
        rel="noopener noreferrer"
        class="lg:w-3/4 w-full rounded-xl overflow-hidden block"
      >
        <img
          src="/images/danek.jpeg"
          alt="danek image"
          class="w-full h-auto object-cover"
        />
      </a>
      <div class="lg:w-1/4 w-full flex flex-col gap-[10px]">
        <h5>Danek</h5>
        <p class="font-light text-sm text-[#444452] tracking-wider">
          Danek is the first crowdfunding platform in Kyrgyzstan, designed to
          help individuals, creators, and communities raise funds for meaningful
          projects. The platform empowers local initiatives by providing a
          transparent and accessible space for public support and collective
          funding.
        </p>
      </div>
    </div>
  </div>
</section>
