---

---

<section
  class="min-h-screen px-0 md:px-4 py-12 mb-0 md:mb-28 flex flex-col justify-around font-sans sm:py-20 sm:px-8"
>
  <h1
    class="text-3xl sm:text-5xl font-extralight text-[#444452] flex items-center gap-3"
  >
    Hello there!
    <span class="relative flex h-3 w-3 sm:h-4 sm:w-4">
      <span
        class="absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75 animate-ping-slow"
      ></span>
      <span
        class="relative inline-flex rounded-full h-3 w-3 sm:h-4 sm:w-4 bg-green-500"
      ></span>
    </span>
  </h1>

  <h2
    class="mt-6 text-2xl sm:text-4xl font-light leading-snug tracking-wide text-[#444452] max-w-xl"
  >
    I'm <strong>Akzhol Asanov</strong>, a design-minded front-end software
    engineer focused on building beautiful interfaces & experiences
  </h2>

  <h3
    class="mt-8 text-base sm:text-xl font-extralight flex flex-col sm:flex-row sm:items-center gap-2 text-[#444452]"
  >
    Get in touch
    <span
      class="w-min border-b-2 border-blue-500 hover:text-blue-500 hover:font-normal transition-all duration-300"
    >
      <a href="mailto:asanov.akzhol04@gmail.com">asanov.akzhol04@gmail.com</a>
    </span>
  </h3>
</section>
