---

---

<section
  class="py-[50px] md:py-[100px] w-full flex flex-col md:flex-row justify-center gap-[50px]"
>
  <div class="w-[120px] md:text-end">
    <h4 class="text-base font-medium tracking-widest text-[#007bff]">SKILLS</h4>
  </div>
  <div
    class="max-w-[650px] w-full flex flex-col sm:flex-row gap-[50px] sm:gap-[0] justify-between"
  >
    <div>
      <h5 class="pb-[10px]">Languages</h5>
      <ul class="text-base font-extralight tracking-wider text-[#444452]">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
      <h5 class="pb-[10px]">Frameworks & Libraries</h5>
      <ul class="text-base font-extralight tracking-wider text-[#444452]">
        <li>React</li>
        <li>Next.js</li>
        <li>React Native</li>
        <li>Redux</li>
        <li>Zustand</li>
      </ul>
    </div>
    <div>
      <h5 class="pb-[10px]">Tools</h5>
      <ul class="text-base font-extralight tracking-wider text-[#444452]">
        <li>Vite</li>
        <li>Firebase</li>
        <li>Storybook</li>
        <li>Jest</li>
        <li>Git / GitHub</li>
      </ul>
    </div>
    <div>
      <h5 class="pb-[10px]">Design</h5>
      <ul class="text-base font-extralight tracking-wider text-[#444452]">
        <li>Tailwind CSS</li>
        <li>SASS</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>
</section>
