---
import "../styles/global.css";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akzhol Asanov | Portfolio</title>
    <meta name="description" content="Portfolio site of Akzhol." />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="my-[50px] mx-[35px] sm:m-[50px] lg:my-[120px] lg:mx-[100px]">
      <slot />
    </main>
  </body>
</html>
